In [3]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

plt.style.use('seaborn-talk')

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target

# 随机选取几条数据
idx = range(df.shape[0])
np.random.shuffle(idx)

print(iris.target_names)
df.iloc[idx].head(10)

['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
39,5.1,3.4,1.5,0.2,0
48,5.3,3.7,1.5,0.2,0
125,7.2,3.2,6.0,1.8,2
127,6.1,3.0,4.9,1.8,2
107,7.3,2.9,6.3,1.8,2
77,6.7,3.0,5.0,1.7,1
90,5.5,2.6,4.4,1.2,1
120,6.9,3.2,5.7,2.3,2
11,4.8,3.4,1.6,0.2,0
83,6.0,2.7,5.1,1.6,1

In [6]:
df.target.value_counts()

2    50
1    50
0    50
Name: target, dtype: int64

In [14]:
for t in [2,4]:
    print df[ df['petal length (cm)'] < t].target.value_counts()

0    50
Name: target, dtype: int64
0    50
1    11
Name: target, dtype: int64